{% load static %}
<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}"/>
</head>


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{% static 'images/team.jpg' %}" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Spacey Team</h4>
                </div>

                <form>
                    <div class="d-flex align-items-center justify-content-center pb-4" >
                        <button type="button" class="btn btn-primary btn-lg btn-block " onclick="location.href={% url 'login' %}" style="background-color: #5b80b2">
                        Login
                    </button>
                  </div>
                    <div class="text-center">
                        <p class="a"> or </p>
                    </div>
                  <div class="d-flex align-items-center justify-content-center pb-4" >
                        <button type="button" class="btn btn-light btn-lg btn-block " onclick="location.href={% url 'register' %}" style="color: #6f94c6">
                        Register
                    </button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">New Place, New Space!</h4>
                <p class="small mb-0">
                    Are you ready to visit and start over in new area? <br>
                    Spacy will help you on your way there!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</html>