{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% block title %} Hosting {% endblock %}
{% block content %}
    Start hosting here <br>
    <div class="btn-group">
        <a href="{% url 'host_personal_room' user.id %}" class="btn btn-primary">Host Personal Room</a>
    </div>
    <br>
    <div class="btn-group">
        <a href="{% url 'host_business_storage' user.id %}" class="btn btn-primary">Host Business Storage</a>
    </div>
    <br>
    <div class="btn-group">
        <a href="{% url 'host_climate_controlled_storage' user.id %}" class="btn btn-primary">Host Climate Controlled Storage</a>
    </div>
    <br>
    <div class="btn-group">
        <a href="{% url 'host_garage' user.id %}" class="btn btn-primary">Host Garage</a>
    </div>
    <br>
{% endblock %} %}
