{% load static %}
<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}"/>
</head>


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div>
                        <h2>Welcome back!</h2>
                </div>

                  <div style="padding-top: 30px">

                      <form method="post">
                          {% csrf_token %}
                  <p style="color:#5b80b2">Login to your Spacey account </p>

                  <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address"/>

                  </div>

                  <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                     <input type="password" id="password" name="password" class="form-control" />

                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Log in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>
                    <div class="text-center">
                        <p class="mb-0 me-2" style="color: red">Don't have an account?</p>
                    </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <button type="button" class="btn btn-light btn-lg btn-block " onclick="location.href={% url 'register' %}" style="color: #6f94c6">
                        Register
                    </button>
                  </div>

                </form>
                  </div>


              </div>
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
              <div class="col-lg-6 d-flex">
              <img src="https://propertyfinderbd.com/public/uploads/property_thumb/e438162326dec3a13e6a2b807fc9c301.jpg" style="height: 100%; width:100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</html>
