
{% load crispy_forms_filters %}
{% load static %}
<html >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Registration Form</h2>
                    <form method="POST">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="name">Full Name</label>
                        <input type="name" id="name" name="name" class="form-control"/>

                      </div>
                        <div class="form-outline mb-4">
                              <label class="form-label" for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"/>
                          </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" />

                      </div>

                        <div class="form-outline mb-4">
                          <label class="form-label" for="phone">Phone number</label>
                        <input type="text" id="password" name="password" class="form-control" />

                      </div>

                        <div class="form-outline mb-4">
                                    <label class="form-label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker form-control" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>

                        <div class="form-outline mb-4">
                          <label class="form-label" for="password">NID</label>
                        <input type="text" id="password" name="password" class="form-control" />

                      </div>


                        <div class="d-flex align-items-center justify-content-center pb-4">
                        <button type="button" class="btn btn-primary btn-lg btn-block  " style="color:white;background-color: #5b80b2">
                            Register
                        </button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

</body>
<!--
{% block content %}
                {% load crispy_forms_tags %}
                <h2>
                    Register
                </h2>
                <form method="post">
                {% csrf_token %}

                <div class="form-outline mb-4">
                    <div class="col-lg-6 col-md-12">
                        {{ form.name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form.nid_number|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form.date_of_birth|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>

                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endblock %}
-->


</html>


